@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  
}

body {
  font-size: 16px;
  margin: 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

main.container {
  display: flex;
  gap: 40px; /* Espaço entre o profile e o conteúdo da rota */
  align-items: flex-start; /* Alinha os itens no topo */
}

.profile-container {
  flex-shrink: 0; /* Impede o profile de encolher */
  width: 250px; /* Ou o tamanho que preferir */
}

.route-content {
  flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

/* Header */

header{
  background-color: aqua;
}

nav{
  font-size: 1.2rem;
  border-bottom: 3px black solid;
}

.nav-profile{
  font-weight: bolder;
}

.nav-item {
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 5px 0;
  margin: 0 20px;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 0.4s ease;
}

.nav-item:hover::after {
  width: 100%;
}

/* Profile */

.profile-img {
  max-height: 250px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.profile-name{
  font-size: 1.3rem;
  margin: 0;
  padding: 10px 0;
}

.profile-role{
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
}

.profile-infos {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0;
}

.profile-infos a {
  text-decoration: none;
  color: black;
}

.profile-infos a:hover {
  text-decoration: underline;
}
